<!DOCTYPE html>
<html lang="en" ng-app="templating_app">
 <head></head>
 <body>
 <!-- Core JS Files  -->
<script src="/lib/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/lib/bootstrap/tether.min.js"></script>
<script src="/lib/bootstrap/bootstrap.min.js" type="text/javascript"></script>
 
<!-- App JS Files  -->
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular/angular-ui-router.min.js"></script>
 </body>
</html>